.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
}

.posts {
  max-width: 700px;
  margin: 5rem;

  a:first-child{
    img {
      width: 238.62px;
      height: 25.63px;
    }
  }

  :not(first-child) img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }

  time {
    font-size: 14px;
    line-height: 16.94px;
    color: var(--dark-gray-400);
    font-weight: 400;
    margin-right: 2rem;
  }

  span {
    font-size: 14px;
    line-height: 16.94px;
    color: var(--dark-gray-400);
    font-weight: 400;
  }


  h1 {
    margin: 4rem 0 0 0;
    font-size: 1.75rem;
    line-height: 2.1rem;
    letter-spacing: -0.5px;
  }

  h2 {
    margin: 0.5rem 0 2rem;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-400);
    font-weight: 400;
  }

  a:last-child {
    margin-top: 5rem;
    display: flex;

    span {
      color: var(--pink-600);
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.bottomPost {
  display: flex;
  align-items: center;
}

